
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
    <section class="container">
        <div class="block">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <header>
                        <h1 class="page-title">Register</h1>
                    </header>
                    <hr>
                    <form>
                        <div class="form-group">
                            <%= f.label :first_name, for: "form-register-full-name" %>
                            <%= f.text_field :first_name, autofocus: true, class:"form-control", id:"form-register-full-name", onBlur:"validate()", required: true %>
                            <p id="confirmName"><small>Please enter a name</small></p>
                        </div>
                        <div class="form-group">
                            <%= f.label :email, for: "form-register-email" %>
                            <%= f.email_field :email, class:"form-control", id:"form-register-email", onBlur:"validate()", required: true %>
                            <p id="testEmail"><small>Please enter a valid email address for your account</small></p>
                        </div>
                        <div class="form-group">
                            <%= f.label :password, for:"form-register-password" %>
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", id:"form-register-password", onBlur:"validate()", required: true %>
                            <p id="testPassword"><small>Please enter a secure password</small></p>
                        </div>
                        <div class="form-group">
                            <%= f.label :password_confirmation, for: "form-register-confirm-password" %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "form-register-confirm-password", onkeyup:"validate()", required: true %>
                            <p id="confirmPassword2"><small>Please confirm your password</small></p>
                        </div>
                        <div class="form-group clearfix">
                            <%= f.submit "Create your account", id:"register_button", class: "btn pull-right btn-default", disabled: true %>
                        </div>
                    </form>
                    <hr>
                    <div class="center">
                        <figure class="note">By clicking the “Create your Account” button you agree with our <a href="#" class="link">Terms and conditions</a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% end %>

