<div class="page-subpage page-item-detail">
    <section class="container">
        <div class="row">
            <!--Item Detail Content-->
            <div class="col-md-9">
                <section class="block" id="main-content">
                    <header class="page-title">
                        <div class="title">
                            <h1><%= @restaurant.name %></h1>
                            <figure><%= @restaurant.address %></figure>
                        </div>
                        <div class="info">
                            <div class="type">
                                <i><%= image_tag('restaurant.png')%></i>
                                <span>Restaurant</span>
                            </div>
                        </div>
                    </header>
                    <div class="row">
                        <!--Detail Sidebar-->
                        <aside class="col-md-4 col-sm-4" id="detail-sidebar">
                            <!--Contact-->
                            <section>
                                <header><h3>Contact</h3></header>
                                <address>
                                    <div><%= @restaurant.name %></div>
                                    <div><%= @restaurant.address %></div>
                                    <figure>
                                        <div class="info">
                                            <i class="fa fa-mobile"></i>
                                            <span><%= @restaurant.phone %></span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-phone"></i>
                                            <span>+1 123 456 789</span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-globe"></i>
                                            <a href="#"><%= @restaurant.website %></a>
                                        </div>
                                    </figure>
                                </address>
                            </section>
                            <!--end Contact-->
                            <!--Rating-->
                            <section class="clearfix">
                                <header class="pull-left"><a href="#reviews" class="roll"><h3>Rating</h3></a></header></br>
                                <% @reviews.each do |review| %>
                                    <figure><div class="my-rating" data-rating= <%= review.rating %> ></div></figure>
                                <% end %>
                            </section>
                            <!--end Rating-->
                        </aside>
                        <!--end Detail Sidebar-->
                        <!--Content-->
                        <div class="col-md-8 col-sm-8">
                            <section>
                                <article class="item-gallery">
                                    <%= image_tag('1.jpg') %>
                                </article>
                                <!-- /.item-gallery -->
                                <article class="block">
                                    <header><h2>Description</h2></header>
                                    <p>
                                        Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam.
                                        Donec neque massa, viverra interdum eros ut, imperdiet pellentesque mauris.
                                        Proin sit amet scelerisque risus. Donec semper semper erat ut mollis.
                                        Curabitur suscipit, justo eu dignissim lacinia, ante sapien pharetra duin
                                        consectetur eros augue sed ex. Donec a odio rutrum, hendrerit sapien vitae,
                                        euismod arcu. Suspendisse potenti. Integer ut diam venenatis, pellentesque
                                        felis eget, elementum enim. Suspendisse sit amet massa commodo nulla iaculis
                                        fermentum. Integer eget tincidunt est, in imperdiet risus.
                                        Morbi sit amet urna purus.
                                    </p>
                                </article>
                                <!-- /.block -->
                                <article class="block">
                                    <header><h2>Daily Menu</h2></header>
                                    <div class="list-slider owl-carousel">
                                        <div class="slide">
                                            <header>
                                                <h3><i class="fa fa-calendar"></i>Monday (today)</h3>
                                            </header>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Chicken wings</h4>
                                                    <figure>Curabitur odio nibh, luctus non pulvinar</figure>
                                                </div>
                                                <div class="right">$4.50</div>
                                            </div>
                                            <!-- /.list-item -->
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Mushroom ragout</h4>
                                                    <figure>Donec a odio rutrum, hendrerit sapien</figure>
                                                </div>
                                                <div class="right">$3.60</div>
                                            </div>
                                            <!-- /.list-item -->
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Nice salad with tuna, beans and hard-boiled egg</h4>
                                                    <figure>Urabitur suscipit, justo eu dignissim lacinia </figure>
                                                </div>
                                                <div class="right">$1.20</div>
                                            </div>
                                            <!-- /.list-item -->
                                        </div>
                                        <!-- /.slide -->
                                        </br>
                                        <div class="slide">
                                            <header>
                                                <h3><i class="fa fa-calendar"></i>Tuesday</h3>
                                            </header>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Chicken wings</h4>
                                                    <figure>Curabitur odio nibh, luctus non pulvinar</figure>
                                                </div>
                                                <div class="right">$4.50</div>
                                            </div>
                                            <!-- /.list-item -->
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Mushroom ragout</h4>
                                                    <figure>Donec a odio rutrum, hendrerit sapien</figure>
                                                </div>
                                                <div class="right">$3.60</div>
                                            </div>
                                            <!-- /.list-item -->
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Nice salad with tuna, beans and hard-boiled egg</h4>
                                                    <figure>Urabitur suscipit, justo eu dignissim lacinia </figure>
                                                </div>
                                                <div class="right">$1.20</div>
                                            </div>
                                            <!-- /.list-item -->
                                        </div>
                                        <!-- /.slide -->
                                    </div>
                                    <!-- /.list-slider -->
                                </article>
                                <!-- /.block -->
                                <article class="block">
                                    <header><h2>Features</h2></header>
                                    <ul class="bullets">
                                        <li>Free Parking</li>
                                        <li>Cards Accepted</li>
                                        <li>Wi-Fi</li>
                                        <li>Air Condition</li>
                                        <li>Reservations</li>
                                        <li>Teambuildings</li>
                                        <li>Places to seat</li>
                                        <li>Winery</li>
                                        <li>Draft Beer</li>
                                        <li>LCD</li>
                                        <li>Saloon</li>
                                        <li>Free Access</li>
                                        <li>Terrace</li>
                                        <li>Minigolf</li>
                                    </ul>
                                </article>
                                <!-- /.block -->
                                <article class="block">
                                    <header><h2>Opening Hours</h2></header>
                                    <dl class="lines">
                                        <dt>Monday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Tuesday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Wednesday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Thursday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Friday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Saturday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                    </dl>
                                </article>
                                <!-- /.block -->
                            </section>
                            <!--Reviews-->
                            <section class="block" id="reviews">
                                <header class="clearfix">
                                    <h2 class="pull-left">Reviews</h2>
                                    <a href="#write-review" class="btn framed icon pull-right roll">Write a review <i class="fa fa-pencil"></i></a>
                                </header>
                                <article class="clearfix overall-rating">
                                    <strong class="pull-left">Over Rating</strong>
                                    <figure class="rating big color pull-right" data-rating="4"></figure>
                                    <!-- /.rating -->
                                </article><!-- /.overall-rating-->
                                <section class="reviews">
                                    <article class="review">
                                        <figure class="author">
                                            <img src="assets/img/default-avatar.png" alt="">
                                            <div class="date">12.05.2014</div>
                                        </figure>
                                        <!-- /.author-->
                                        <div class="wrapper">
                                            <h5>Catherine Brown</h5>
                                            <figure class="rating big color" data-rating="4"></figure>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Nulla vestibulum, sem ut sollicitudin consectetur, augue diam ornare massa,
                                                ac vehicula leo turpis eget purus. Nunc pellentesque vestibulum mauris,
                                                eget suscipit mauris imperdiet vel. Nulla et massa metus.
                                            </p>
                                            <div class="individual-rating">
                                                <span>Value</span>
                                                <figure class="rating" data-rating="4"></figure>
                                            </div>
                                            <!-- /.user-rating -->
                                            <div class="individual-rating">
                                                <span>Service</span>
                                                <figure class="rating" data-rating="4"></figure>
                                            </div>
                                            <!-- /.user-rating -->
                                        </div>
                                        <!-- /.wrapper-->
                                    </article>
                                    <!-- /.review -->
                                    <article class="review">
                                        <figure class="author">
                                            <img src="assets/img/default-avatar.png" alt="">
                                            <div class="date">10.05.2014</div>
                                        </figure>
                                        <!-- /.author-->
                                        <div class="wrapper">
                                            <h5>John Doe</h5>
                                            <figure class="rating big color" data-rating="5"></figure>
                                            <p>
                                                Nunc pellentesque vestibulum mauris, eget suscipit mauris
                                                imperdiet vel. Nulla et massa metus. Nam porttitor quam eget ante
                                            </p>
                                            <div class="individual-rating">
                                                <span>Value</span>
                                                <figure class="rating" data-rating="5"></figure>
                                            </div>
                                            <!-- /.user-rating -->
                                            <div class="individual-rating">
                                                <span>Service</span>
                                                <figure class="rating" data-rating="5"></figure>
                                            </div>
                                            <!-- /.user-rating -->
                                        </div>
                                        <!-- /.wrapper-->
                                    </article>
                                    <!-- /.review -->
                                </section>
                                <!-- /.reviews-->
                            </section>
                            <!-- /#reviews -->
                            <!--end Reviews-->
                            <!--Review Form-->
                            <section id="write-review">
                                <header>
                                    <h2>Write a Review</h2>
                                </header>
                                <form id="form-review" role="form" method="post" action="http://themestarz.net/html/spotter/item-detail.html?" class="background-color-white">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="form-review-name">Name</label>
                                                <input type="text" class="form-control" id="form-review-name" name="form-review-name" required="">
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-review-email">Email</label>
                                                <input type="email" class="form-control" id="form-review-email" name="form-review-email" required="">
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-review-message">Message</label>
                                                <textarea class="form-control" id="form-review-message" name="form-review-message"  rows="3" required=""></textarea>
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Submit Review</button>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-4">
                                            <aside class="user-rating">
                                                <label>Value</label>
                                                <figure class="rating active" data-name="value"></figure>
                                            </aside>
                                            <aside class="user-rating">
                                                <label>Service</label>
                                                <figure class="rating active" data-name="score"></figure>
                                            </aside>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.main-search -->
                            </section>
                            <!--end Review Form-->
                        </div>
                        <!-- /.col-md-8-->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /#main-content-->
            </div>
            <!-- /.col-md-8-->
            <!--Sidebar-->
            <div class="col-md-3">
                <aside id="sidebar">
                    <section>
                        <header><h2>New Places</h2></header>
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Cash Cow Restaurante</h3>
                            <figure>63 Birch Street</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('1.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="4"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Blue Chilli</h3>
                            <figure>2476 Whispering Pines Circle</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('2.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="3"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Eddie’s Fast Food</h3>
                            <figure>4365 Bruce Street</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('3.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="5"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                    </section>
                    <section>
                        <a href="#"><img src="assets/img/ad-banner-sidebar.png" alt=""></a>
                    </section>
                    <section>
                        <header><h2>Categories</h2></header>
                        <ul class="bullets">
                            <li><a href="#" >Restaurant</a></li>
                            <li><a href="#" >Steak House & Grill</a></li>
                            <li><a href="#" >Fast Food</a></li>
                            <li><a href="#" >Breakfast</a></li>
                            <li><a href="#" >Winery</a></li>
                            <li><a href="#" >Bar & Lounge</a></li>
                            <li><a href="#" >Pub</a></li>
                        </ul>
                    </section>
                    
                </aside>
                <!-- /#sidebar-->
            </div>
            <!-- /.col-md-3-->
            <!--end Sidebar-->
        </div><!-- /.row-->
    </section>
    <!-- /.container-->
</div>




<script>
    $(".my-rating").starRating({
        readOnly: true,
        strokeColor: '#E59B38',
        strokeWidth: 10,
        starSize: 25,
        emptyColor: 'lightgray',
        hoverColor: 'salmon',
        activeColor: '#E59B38',
        useGradient: false
    });
</script>