<%= hidden_field_tag :restaurant_id, params[:id] %>
<%= hidden_field_tag 'avg_rating', @avg_rating %>
<%= hidden_field_tag :current_user, current_user %>

<div class="page-subpage page-item-detail">
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <section class="block" id="main-content">
                    <header class="page-title">
                        <div class="title">
                            <h1><%= @restaurant.name %></h1>
                            <figure><%= @restaurant.address %></figure>
                        </div>
                        <div class="info">
                            <div class="type">
                                <i><%= image_tag('restaurant.png')%></i>
                                <span>Restaurant</span>
                            </div>  
                        </div>
                    </header>
                    <div class="row">
                        <aside class="col-md-4 col-sm-4" id="detail-sidebar">
                            <section>
                                <header><h2>Contact</h2></header>
                                <address>
                                    <div><%= @restaurant.name %></div>
                                    <div><%= @restaurant.address %></div>
                                    <figure>
                                        <div class="info">
                                            <i class="fa fa-mobile"></i>
                                            <span><%= @restaurant.phone %></span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-phone"></i>
                                            <span>+1 123 456 789</span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-globe"></i>
                                            <a role="link" href="<%= @restaurant.website %><"><%= @restaurant.website %></a>
                                        </div>
                                    </figure>
                                </address>
                            </section>
                            <section class="clearfix">
                                <header class="pull-left"><a href="#reviews" class="roll"><h3>Average Rating</h3></a></header></br></br>
                                <div id="average_rating"></div>
                            </section>
                        </aside>
                        <div class="col-md-8 col-sm-8">
                            <section>
                                <article class="item-gallery">
                                   <img src="<%= @restaurant.main_image %>" alt="photo of <%= @restaurant.name %> restaurant">
                                </article>
                                <div class="block">
                                    <header><h2>Description</h2></header>
                                    <p>
                                        Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam.
                                        Donec neque massa, viverra interdum eros ut, imperdiet pellentesque mauris.
                                        Proin sit amet scelerisque risus. Donec semper semper erat ut mollis.
                                        Curabitur suscipit, justo eu dignissim lacinia, ante sapien pharetra duin
                                        consectetur eros augue sed ex. Donec a odio rutrum, hendrerit sapien vitae,
                                        euismod arcu. Suspendisse potenti. Integer ut diam venenatis, pellentesque
                                        felis eget, elementum enim. Suspendisse sit amet massa commodo nulla iaculis
                                        fermentum. Integer eget tincidunt est, in imperdiet risus.
                                        Morbi sit amet urna purus.
                                    </p>
                                </div>
                                <article class="block">
                                    <header><h2>Daily Menu</h2></header>
                                    <div class="list-slider owl-carousel">
                                        <div class="slide">
                                            <header>
                                                <h3><i class="fa fa-calendar"></i>Monday (today)</h3>
                                            </header>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Chicken wings</h4>
                                                    <figure>Curabitur odio nibh, luctus non pulvinar</figure>
                                                </div>
                                                <div class="right">$4.50</div>
                                            </div>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Mushroom ragout</h4>
                                                    <figure>Donec a odio rutrum, hendrerit sapien</figure>
                                                </div>
                                                <div class="right">$3.60</div>
                                            </div>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Nice salad with tuna, beans and hard-boiled egg</h4>
                                                    <figure>Urabitur suscipit, justo eu dignissim lacinia </figure>
                                                </div>
                                                <div class="right">$1.20</div>
                                            </div>
                                        </div>
                                        </br>
                                        <div class="slide">
                                            <header>
                                                <h3><i class="fa fa-calendar"></i>Tuesday</h3>
                                            </header>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Chicken wings</h4>
                                                    <figure>Curabitur odio nibh, luctus non pulvinar</figure>
                                                </div>
                                                <div class="right">$4.50</div>
                                            </div>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Mushroom ragout</h4>
                                                    <figure>Donec a odio rutrum, hendrerit sapien</figure>
                                                </div>
                                                <div class="right">$3.60</div>
                                            </div>
                                            <div class="list-item">
                                                <div class="left">
                                                    <h4>Nice salad with tuna, beans and hard-boiled egg</h4>
                                                    <figure>Urabitur suscipit, justo eu dignissim lacinia </figure>
                                                </div>
                                                <div class="right">$1.20</div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                 <article class="block">
                                    <header><h2>Opening Hours</h2></header>
                                    <dl class="lines">
                                        <dt>Monday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Tuesday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Wednesday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Thursday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Friday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                        <dt>Saturday</dt>
                                        <dd>08:00 am - 11:00 pm</dd>
                                    </dl>
                                </article>
                            </section>
                            <div class="" id="app"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <aside id="sidebar">
                    <section>
                        <header><h2>New Places</h2></header>
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Para Thai</h3>
                            <figure>699 Jalan Damansara</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('1.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="4"></div>
                                </div>
                            </div>
                        </a>
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Sri Nirvana Maju</h3>
                            <figure>Jalan Telawi 3, Bangsar Baru</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('2.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="3"></div>
                                </div>
                            </div>
                        </a>
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Wonder Mama</h3>
                            <figure>20A, Jalan Kampung Pandan</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('3.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="5"></div>
                                </div>
                            </div>
                        </a>
                    </section>
                    <section>
                        <header><h2>Categories</h2></header>
                        <ul class="bullets">
                            <li><a href="#" >Restaurant</a></li>
                            <li><a href="#" >Steak House & Grill</a></li>
                            <li><a href="#" >Fast Food</a></li>
                            <li><a href="#" >Breakfast</a></li>
                            <li><a href="#" >Winery</a></li>
                            <li><a href="#" >Bar & Lounge</a></li>
                            <li><a href="#" >Pub</a></li>
                        </ul>
                    </section>
                    
                </aside>
            </div>
        </div>
    </section>
</div>
