<div class="page-homepage">
<section id="featured" class="block equal-height">
  <div class="container">
    <header><h2><%= @category.name  %></h2></header>
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <div class="col-md-3 col-sm-3">
          <div class="item">
            <div class="image">
                <%= link_to(restaurant) do %>
                  <div class="overlay">
                      <div class="inner">
                          <div class="content">
                              <h3>Description</h3>
                              <p><%= restaurant.description %></p>
                          </div>
                      </div>
                  </div>
                  <img src="<%= restaurant.main_image %>" alt="">
                <% end %>
              </div>
              <div class="wrapper">
                  <%= link_to(restaurant) do %><h3><%= restaurant.name %></h3><% end %>
                  <figure><%= restaurant.address %></figure>
                  <div class="info">
                      <div class="type">
                          <i><%= image_tag('restaurant.png') %></i>
                          <span>Restaurant</span>
                      </div>
                  <div class="rating" data-rating="4"></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div>
  </div>
  <div class="background opacity-5">
      <%= image_tag('bg2.jpg', style: "width: 1600px; height:900px;") %>
  </div>
</section>
</div>