<footer id="page-footer">
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <% if controller.controller_name != "sessions" && controller.controller_name != 'registrations' %>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>New Items</h2>
                            <% @recently_created.limit(2).each do |restaurant| %>
                                <%= link_to(restaurant,  class: "item-horizontal small") do %>
                                    <h3><%= restaurant.name %></h3>
                                    <figure><%= restaurant.address %></figure>
                                    <div class="wrapper">
                                        <div class="image"><img src="<%= restaurant.main_image %>" alt="image of <%= restaurant.name %> restaurant"></div>
                                        <div class="info">
                                            <div class="type">
                                                <i><%= image_tag('restaurant.png') %></i>
                                                <span>Restaurant</span>
                                            </div>
                                            <div class="rating" data-rating="4"></div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>   
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>Recent Reviews</h2>
                            <% @recently_commented.each do |restaurant| %>
                                <%= link_to(restaurant, class: "review small") do  %>
                                    <h3><%= restaurant.name %></h3>
                                    <figure><%= restaurant.address %></figure>
                                    <div class="info">
                                        <div class="rating" data-rating="5"></div>
                                        <div class="type">
                                            <i><%= image_tag('restaurant') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                    </div>
                                    <p>
                                        <%= restaurant.description %>
                                    </p>
                                </a>
                                <% end %>
                            <% end %>
                        </section>
                    </div>
                    <div class="col-md-2 col-md-offset-2 col-sm-4">
                        <section>
                            <h2>About Us</h2>
                            <address>
                                <div>Feed Me Inc.</div>
                                <div>Solaris Dutamas</div>
                                <div>52100 Kuala Lumpur</div>
                                <figure>
                                    <div class="info">
                                        <i class="fa fa-mobile"></i>
                                        <span>818-832-5258</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span>+1 123 456 789</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="http://feedme.lol">www.feedme.lol</a>
                                    </div>
                                </figure>
                            </address>
                            <div class="social">
                                <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
                            </div>

                            <a href="contact.html" class="btn framed icon">Contact Us<i class="fa fa-angle-right"></i></a>
                        </section>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <span class="left">FeedMe.Inc, all rights reserved</span>
                    <span class="right">
                        <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                    </span>
            </div>
        </div>
    </div>
</footer>