<footer id="page-footer">
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>New Items</h2>
                            <a href="item-detail.html" class="item-horizontal small">
                                <h3>Cash Cow Restaurante</h3>
                                <figure>63 Birch Street</figure>
                                <div class="wrapper">
                                    <div class="image"><%= image_tag('1.jpg') %></div>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </a>
                            <a href="item-detail.html" class="item-horizontal small">
                                <h3>Blue Chilli</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="wrapper">
                                    <div class="image"><<%= image_tag('2.jpg') %></div>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </a>
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>Recent Reviews</h2>
                            <a href="item-detail.html#reviews" class="review small">
                                <h3>Max Five Lounge</h3>
                                <figure>4365 Bruce Street</figure>
                                <div class="info">
                                    <div class="rating" data-rating="4"></div>
                                    <div class="type">
                                        <i><%= image_tag('restaurant') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non suscipit felis, sed sagittis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ac placerat mauris.
                                </p>
                            <a href="item-detail.html#reviews" class="review small">
                                <h3>Saguaro Tavern</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="info">
                                    <div class="rating" data-rating="5"></div>
                                    <div class="type">
                                        <i><%= image_tag('restaurant') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                </div>
                                <p>
                                    Pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis curabitur
                                </p>
                            </a>
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>About Us</h2>
                            <address>
                                <div>Feed Me Inc.</div>
                                <div>12 Burger Avenue</div>
                                <div>Beverly Hills, LA 90210</div>
                                <figure>
                                    <div class="info">
                                        <i class="fa fa-mobile"></i>
                                        <span>818-832-5258</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span>+1 123 456 789</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="http://feedme.lol">www.feedme.lol</a>
                                    </div>
                                </figure>
                            </address>
                            <div class="social">
                                <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
                            </div>

                            <a href="contact.html" class="btn framed icon">Contact Us<i class="fa fa-angle-right"></i></a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <span class="left">FeedMe.Inc, all rights reserved</span>
                    <span class="right">
                        <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                    </span>
            </div>
        </div>
    </div>
</footer>