<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path do %>
                <div style="text-align: center;">
                        <%= image_tag('logo-restaurants.png') %>
                </div>
        <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-expanded="false">
                        <li><a href="#"><i><%= image_tag('restaurant.png', height: '15px') %></i>Restaurant</a></li>
                        <li><a href="#"><i><%= image_tag('restaurant_steakhouse.png', height: '15px') %></i>Steak House</a></li>
                        <li><a href="#"><i><%= image_tag('japanese-food.png', height: '15px') %></i>Sushi Bar</a></li>
                        <li><a href="#"><i><%= image_tag('barbecue.png', height: '15px') %></i>BBQ Restaurant</a></li>
                </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, style: "margin-right: 15px; font-size: 14px;"  %></li>        
            <% else %>
                <li><%= link_to 'Sign In', new_user_session_path, style: "margin-right: 15px; font-size: 14px;"  %></li>
                <li><%= link_to "<strong>Register</strong>".html_safe , new_user_registration_path, style: "font-size: 14px;"  %></li>
            <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


 