<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
              <div style="text-align: center;">
                      <%= image_tag('logo-restaurants.png', alt: "site_logo") %>
              </div>
      <% end %>
    </div>
    <%= render 'categories/all' if controller.controller_name != "sessions" && controller.controller_name != 'registrations' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, style: "margin-right: 15px; font-size: 14px;"  %></li>        
            <% else %>
                <li><%= link_to 'Sign In', new_user_session_path, style: "margin-right: 15px; font-size: 14px;"  %></li>
                <li><%= link_to "<strong>Register</strong>".html_safe , new_user_registration_path, style: "font-size: 14px;"  %></li>
            <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


 