<section id="listing" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <section class="equal-height">
                    <header><h2>Popular today</h2></header>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <%= image_tag('11.jpg') %>
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Max Five Lounge</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant.png') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <%= image_tag('4.jpg') %>
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Magma Bar & Grill</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant_steakhouse.png') %></i>
                                            <span>Steak House</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-specific">
                                            <span>Menu from: $9.00</span>
                                        </div>
                                        <%= image_tag('8.jpg') %>
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Guild Trattoria</h3></a>
                                    <figure>4662 Bruce Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('barbecue.png') %></i>
                                            <span>BBQ Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->

                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <%= image_tag('12.jpg') %>
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Sushi Wooshi Bar</h3></a>
                                    <figure>357 Trainer Avenue</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('fishchips.png') %></i>
                                            <span>Sushi Bar</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <%= image_tag('4.jpg') %>
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Max Five Lounge</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant.png') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view" id="10"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <%= image_tag('6.jpg') %>
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Magma Bar & Grill</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant_steakhouse.png') %></i>
                                            <span>Steak House</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                    </div>
                    <!--/.row-->
                </section>
                <!--/.equal-height-->

            </div>
            <div class="col-md-3 col-sm-3">
                <aside id="sidebar">
                    <section>
                        <header><h2>New Places</h2></header>
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Cash Cow Restaurante</h3>
                            <figure>63 Birch Street</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('1.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="4"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Blue Chilli</h3>
                            <figure>2476 Whispering Pines Circle</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('2.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="3"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Eddie’s Fast Food</h3>
                            <figure>4365 Bruce Street</figure>
                            <div class="wrapper">
                                <div class="image"><%= image_tag('3.jpg') %></div>
                                <div class="info">
                                    <div class="type">
                                        <i><%= image_tag('restaurant.png') %></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="5"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                    </section>
                </aside>
                <!--/#sidebar-->
            </div>
            <!--/.col-md-3-->
        </div>
        <!--/.row-->
    </div>
    <!--/.block-->
</section>