<section id="listing" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <section class="equal-height">
                    <header><h2>Popular today</h2></header>
                    <div class="row">
                        <% @popular.each do |restaurant| %>
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <%= link_to(restaurant) do %>
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h3>Description</h3>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="<%= restaurant.main_image %>" alt="">
                                    <% end %>
                                </div>
                                <div class="wrapper">
                                    <%= link_to(restaurant) do %>
                                        <h3><%= restaurant.name%></h3>
                                    <% end %>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant.png') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </section>
            </div>
            <div class="col-md-3 col-sm-3">
                <aside id="sidebar">
                    <section>
                        <header><h2>New Places</h2></header>
                        <% @recently_created.each do |restaurant| %>
                            <%= link_to(restaurant,  class: "item-horizontal small") do %>
                                <h3><%= restaurant.name %></h3>
                                <figure><%= restaurant.address %></figure>
                                <div class="wrapper">
                                    <div class="image"><img src="<%= restaurant.main_image %>" alt="image of <%= restaurant.name %> restaurant"></div>
                                    <div class="info">
                                        <div class="type">
                                            <i><%= image_tag('restaurant.png') %></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>                                                              
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>