<!DOCTYPE html>
<html>
  <head>
    <title>Feed:Me</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onunload id="page-top">
    <div id="outer-wrapper">
      <div id="inner-wrapper">
        <%= render 'layouts/navbar' %>
        <div id="page-canvas">
          <div id="page-content">
            <%= yield %>
          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= javascript_include_tag('app.js') %>
    <script>
      // On dropdown open
      $(document).on('shown.bs.dropdown', function(event) {
          var dropdown = $(event.target);
          
          // Set aria-expanded to true
          dropdown.find('.dropdown-menu').attr('aria-expanded', true);
          
          // Set focus on the first link in the dropdown
          setTimeout(function() {
              dropdown.find('.dropdown-menu li:first-child a').focus();
          }, 10);
      });

      // On dropdown close
      $(document).on('hidden.bs.dropdown', function(event) {
          var dropdown = $(event.target);
          
          // Set aria-expanded to false        
          dropdown.find('.dropdown-menu').attr('aria-expanded', false);
          
          // Set focus back to dropdown toggle
          dropdown.find('.dropdown-toggle').focus();
      });
    </script>
  </body>
</html>
