<!DOCTYPE html>
<html>
  <head>
    <title>Feed:Me</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('what-input.js') %>
    <style>
      .test-row {
        margin-top: 50px;
      }
      input[type="text"],
      input[type="password"] {
        font-size: 16px;
      }
      /* indicator */
      .input-display {
        border-radius: 3px;
        display: inline-block;
        padding: 0 3px;
        -webkit-transition: all 200ms;
        transition: all 200ms;
      }
      [data-whatinput="mouse"] .input-display.-mouse,
      [data-whatintent="mouse"] .input-intent.-mouse {
        background-color: #d9edf7;
        color: #31708f;
      }
      [data-whatinput="keyboard"] .-keyboard {
        background-color: #dff0d8;
        color: #3c763d;
      }
      [data-whatinput="touch"] .-touch {
        background-color: #fcf8e3;
        color: #8a6d3b;
      }
      /* links */
      a:focus {
        position: relative;
        z-index: 1;
      }
      [data-whatinput="keyboard"]  a:focus {
        box-shadow: 0 0 8px 2px rgba(60, 118, 61, 0.6);
        outline: 2px solid #3c763d;
      }
      /* form controls */
      [data-whatinput="mouse"] .form-control:focus {
        border-color: #31708f;
        outline: 0;
        box-shadow:
          inset 0 1px 1px rgba(0, 0, 0, .075),
          0 0 8px rgba(49, 112, 143, 0.6);
      }
      [data-whatinput="keyboard"] .form-control:focus {
        border-color: #3c763d;
        outline: 0;
        box-shadow:
          inset 0 1px 1px rgba(0, 0, 0, .075),
          0 0 8px rgba(60, 118, 61, 0.6);
      }
      [data-whatinput="touch"] .form-control:focus {
        border-color: #8a6d3b;
        outline: 0;
        box-shadow:
          inset 0 1px 1px rgba(0, 0, 0, .075),
          0 0 8px rgba(138, 109, 59, 0.6);
      }
    </style>
  </head>

  <body onunload id="page-top">
    <div id="outer-wrapper">
      <div id="inner-wrapper">
        <%= render 'layouts/navbar' %>
        <div id="page-canvas">
          <div id="page-content">
            <%= yield %>
          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= javascript_include_tag('app.js') %>
    <script>
      $(document).on('shown.bs.dropdown', function(event) {
          var dropdown = $(event.target);
          
          dropdown.find('.dropdown-menu').attr('aria-expanded', true);
          
          setTimeout(function() {
              dropdown.find('.dropdown-menu li:first-child a').focus();
          }, 10);
      });

      $(document).on('hidden.bs.dropdown', function(event) {
          var dropdown = $(event.target);
          
          dropdown.find('.dropdown-menu').attr('aria-expanded', false);
          
          dropdown.find('.dropdown-toggle').focus();
      });
    </script>
  </body>
</html>
